*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

nav{
    background-color: burlywood;
}
.nav-box{
    display: flex;
    justify-content: space-between;
}
.nav-list{
    display: flex;
}
.nav-list li{
    margin: 5px 10px;
}